:root {
  --sidebar-width: 300px;
  --header-height: 60px;
  --main-padding: 20px;
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;

  /* margin collapsing is the result of someone smoking crack rocks too much */
  position: absolute;
  color: #e7e7e7;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: var(--sidebar-width);
  width: auto;
  height: var(--header-height);
  background-color: #222429;
}

.header-inner {
  height: 100%;
  padding: 10px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 25px;
}

.main {
  padding: var(--main-padding);
  padding-top: calc(var(--header-height) + var(--main-padding));
  padding-right: calc(var(--sidebar-width) + var(--main-padding));
  min-height: 100%;
}

.main-inner {
  position: relative;
  min-height: 100%;
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: var(--sidebar-width);
  background-color: #2c323f;
  padding: 10px;
}

.sidebar-inner {
  position: relative;
}

.today-view {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--header-height) - (var(--main-padding) * 2));
  width: 100%;
}

.today-view-inner {
  width: 100%;
}

.bar-container {
  width: 100%;
}

.bar-title {
  font-style: italic;
}

.bar {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 40px;
}

.bar-segment {
  display: inline-block;
  height: 100%;
}
