:root {
  --main-padding: 20px;
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;

  /* margin collapsing is the result of someone smoking crack rocks too much */
  position: absolute;
  color: #e7e7e7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: var(--main-padding);
  padding-top: calc(var(--main-padding));
  padding-right: calc(var(--main-padding));
  min-height: 100%;
  min-width: 100%;
}

.main-inner {
  position: relative;
  min-height: 100%;
}

.today-view {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--header-height) - (var(--main-padding) * 2));
  width: 100%;
}

.today-view-inner {
  width: 100%;
}

.bar-container {
  width: 100%;
}

.bar-title {
  font-style: italic;
}

.bar {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 40px;
}

.bar-segment {
  display: inline-block;
  height: 100%;
}
